{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}
{% block body_block %}
        <div>
            <h1 class="page-header">About Rango</h1>
        </div>
        {{ aboutmessage }}
        <br/>
        <br/>
        <img src="/media/smallkitten.jpeg" alt="kitten"/>
        <br/>
        <br/>
        {% if visits %}
            {% if visits == 1 %}
        You have visited this site <strong>1</strong> time.
            {% else %}
        You have visited this site <strong>{{ visits }}</strong> times.
            {% endif %}
        {% endif %}
{% endblock %}
