{% extends 'rango/base.html' %}
{% block title %}Add New Category{% endblock %}
{% block body_block %}
        <h1 class="page-header">Add a Category</h1>

        <form id="category_form" method="post" action="/rango/add_category/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden}}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <button class="btn btn btn-primary" type="submit" value="Create Category"/>Create Category</button>
        </form>
{% endblock %}
