{% extends 'rango/base.html' %}
{% block title %}Add Page To {{ category.name }}{% endblock %}
{% block body_block %}
        <h1 class="page-header">Add a Page</h1>

        <form role="form" id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden}}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                <br/>
            {% endfor %}
            <button class="btn btn-primary" type="submit" name="submit">Add Page</button> 
        </form>
{% endblock %}
