{% extends 'rango/base.html' %}
{% block title %}Rango{% endblock %}
{% block body_block %}
        {% if user.is_authenticated %}
        <h1 class="page-header">Hello, {{user.username}}.  Welcome to Rango.</h1>
        {% else %}
        <h1 class="page-header">Hello, guest.  Welcome to Rango</h1>
        {% endif %}
        <div class="row placeholder">
            <div class="col-xs-12 col-sm-6 placeholder">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Top Categories</h2>
                    </div>
                </div>
                {% if categories %}
                <ol class="list-group">
                    {% for category in categories %}
                    <li class="list-group-item"><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ol>
                {% else %}
                <strong>There are no categories present</strong>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6 placeholder">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Top Pages</h2>
                    </div>
                </div>
                {% if pages %}
                <ol class="list-group">
                    {% for page in pages %}
                    <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ol>
                {% else %}
                <strong>There are no pages present</strong>
                {% endif %}
            </div>
{% endblock %}
