<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <h1>Hello, {{user.username}}.  Welcome to Rango.</h1>
        {% else %}
        <h1>Hello, guest.  Welcome to Rango</h1>
        {% endif %}
        <h2>Top Categories</h2>
        {% if categories %}
        <ol>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ol>
        {% else %}
        <strong>There are no categories present</strong>
        {% endif %}
        <h2>Top Pages</h2>
        {% if pages %}
        <ol>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ol>
        {% else %}
        <strong>There are no pages present</strong>
        {% endif %}
        <br/>
        <a href="/rango/about/">About</a>
        {% if user.is_authenticated %}
         -
        <a href="/rango/add_category/">Add a New Category</a>
         -
        <a href="/rango/restricted/">Restricted Page</a>
         -
        <a href="/rango/logout/">Logout</a>
        {% else %}
         -
        <a href="/rango/register/">Register Here</a>
         -
        <a href="/rango/login/">Login</a>
        {% endif %}
    </body>
</html>
